@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebf5fc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p,
h1,
h2,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --accent: rgb(2, 112, 99);
  --primary: #282828;
  --secondary: #858585;
  --box: rgba(128, 203, 196, 0.6);
  --box-statistics: rgba(131, 176, 171, 0.6);
  --main-shadow: -2px -2px 5px #929292, 3px 3px 5px rgba(0, 0, 0, 0.1);
  --inset-shadow: inset -2px -2px 5px #ffffff, inset 3px 3px 5px rgba(0, 0, 0, 0.1);
  --good: rgba(80, 206, 55, 0.7);
  --neutral: rgba(206, 188, 85, 0.7);
  --bad: rgba(174, 79, 68, 0.7);
}
